@use "../design-tokens" as *;

.grid {
  display: grid; gap: $sp-6;
  &--cards-3 { grid-template-columns: repeat(3, 1fr);
    @media (max-width: $bp-lg) { grid-template-columns: repeat(2, 1fr); }
    @media (max-width: $bp-md) { grid-template-columns: 1fr; }
  }
  &--masonry { grid-auto-rows: 1fr; grid-template-columns: 2fr 1fr 1fr;
    @media (max-width: $bp-lg) { grid-template-columns: 1fr 1fr; }
    @media (max-width: $bp-md) { grid-template-columns: 1fr; }
  }
}
