@use "../design-tokens" as *;

.cluster-orgs-page {
  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: $space-8;
  }

  &__header {
    margin-bottom: $space-8;
  }

  &__title {
    font-size: $fs-h2;
    font-weight: 700;
  }

  &__view-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $space-6;
  }
}
