@use "../design-tokens" as *;

.main-layout {
  min-height: 100vh;
  background-color: $color-surface;
  display: flex;

  &--dark {
    background-color: $color-dark-bg;
    color: $color-light-text;
  }
  flex-direction: column;

  &__content {
    flex: 1;
  }
}
